
# Example code in package build process
# History files
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
# Output files from R CMD build
# Output files from R CMD check
# R Environment Variables
# RStudio Connect folder
# RStudio files
# Session Data files
# Temporary files created by R markdown
# User-specific files
# knitr and R markdown default cache directories
# pkgdown site
# produced vignettes
# translation temp files
*-Ex.R
*.knit.md
*.utf8.md
*_cache/
.DS_Store
.RData
.RDataTmp
.Rapp.history
.Renviron
.Rhistory
.Rproj.user/
.Ruserdata
.httr-oauth
/*.Rcheck/
/*.tar.gz
/cache/
data/all_cell_filtered_CellView.Rds
docs/
po/*~
rsconnect/
saves/
vignettes/*.html
vignettes/*.pdf
